<div class="shadow col" style="height: 55vh;width: 100%;">
  <table class="table table-bordered" style="padding: 0;height: 100%">
    <thead class="mdb-color lighten-4" style="">
    <tr>
      <th *ngFor="let headerEl of headerElements" [style.width.%]="widthForElements" style="word-break: break-all;">{{headerEl}}</th>
    </tr>
    </thead>
    <tbody style="">
    <ng-container *ngIf="bodyElements.length != 0">
      <tr *ngFor="let bodyEl of bodyElements">
        <td [style.width.%]="widthForElements">{{bodyEl.region}}</td>
        <td [style.width.%]="widthForElements">{{bodyEl.cell}}</td>
        <td [style.width.%]="widthForElements">{{bodyEl.date}}</td>
        <td [style.width.%]="widthForElements">{{bodyEl.heure}}</td>
        <td *ngFor ="let cp of bodyEl.compteurs" [style.width.%]="widthForElements">{{cp}}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
